RESEND_API_KEY="re_replace_me"
CONTACT_TO_EMAIL="hello@dennisberger.me"
CONTACT_FROM_EMAIL="Dennis Berger <hello@dennisberger.me>"
TURNSTILE_SITE_KEY="0x_replace_me"
TURNSTILE_SECRET_KEY="0x_replace_me"
